<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground Assignment</title>
</head>
<body>
    <style>
        .header {
            display: flex;
            justify-content: center;
        }

        .box_wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

    </style>
    <div class="header">
        <h1>Welcome!</h1>
    </div>
    <div class="box_wrapper">
        {% for x in range(box_count) %}
            <div class="box" style="background: {{ box_color }}; border: 2px solid black; height: 150px; width: 150px; margin: 10px;"></div>
        {% endfor %}

    </div>

</body>
</html>